.container {
  width: 100vw;
}
.grid {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.item {
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.item:hover {
  transform: scale(1.03);
  transition: 0.5s ease;
}
.item > img {
  width: 100%;
  height: auto;
}
.item > div:nth-child(2) {
  padding-left: 0.3rem;
}
.info > span {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
}
